*{
    margin:0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(./form.jpg);
    background-size: cover;
    color: wheat;
    
}
.user-login{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50 -50);
    position: absolute;
    
}
.user-login h1{
    font-size: 30px;
    margin:15px,0;
}
.user-login p{
    font-size: 20px;
    margin: 15px 0;
}
.user-login input{
    font-size: 16px;
    width: 100px;
    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 15px 10px;
    border: 2px solid;
}
.user-login button{
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 2px;
    margin: 20px 0;
    width: 20%;
    cursor: pointer;
}